html {
    font-family: 'Raleway' ;
}

@font-face {

    font-family: 'Raleway';
    src: url(fonts/Raleway-Black.ttf)
            }

header {

    display: flex;
    
    justify-content: space-around;
    margin: auto;

        }

ul  {

 display: inline;
 list-style: none;
 
    }

.Conteneur2 {

    display: flex;
    align-content: space-around;
    
            }
.Gauche:nth-child(1) {

   
    background-color:#F2F2F2;
    
    padding: 2%;
    
    flex: 4;
    border-radius: 30px ;
    
    
    
}

.Heb {
    border-radius: 30px ;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-color: white;
    border-width: thick;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px; 
}

#bluestar {
    color: #0065FC;
}

#greystar {

    color: grey;
}

#aside {

    border-radius: 30px ;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-color: white;
    border-width: thick;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 5px;
padding-right: 5px;
display: flex;

}

.droite {


        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color:#F2F2F2;
        width: 66%;
        padding: 2%;
        align-self:baseline;


}

footer {

    display: flex;
    flex-direction: row;
    justify-content:space-around;
    
}

.imgheb {

    width: 400px;
    height: 200px;
	border-top-left-radius:  30px;
   border-top-right-radius: 30px;
	object-fit:cover;
}

a {

    text-decoration:none;
}

.gaucheg {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
    align-items:stretch;
    padding: 2%;
    margin-bottom: 10px;
    
   


}

.gauched:nth-child(2)
{
    
   
    flex: 1;
    border-radius: 30px ;


display: flex;
flex-direction: column;
justify-content: center;
background-color: #F2F2F2;
align-items: center;

}



.pop1 {

    border-radius: 30px ;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-color: white;
    border-width: thick;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
padding-right: 5px;
display: flex;

}

.pop2 {

    border-radius: 30px ;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-color: white;
    border-width: thick;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
padding-right: 5px;
display: flex;

}

.pop3 {

    border-radius: 30px ;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-color: white;
    border-width: thick;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
padding-right: 5px;
display: flex;

}

.imgpop {

    width: 100px; height: 150px;
	border-top-left-radius:  30px;
   border-bottom-left-radius: 30px;
   margin-right: 10px;
	object-fit:cover;

}
